// poiret-one-regular
@font-face {
    font-display: swap;
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/poiret-one-v16-latin-regular.woff2') format('woff2'),
        // Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+
        url('/fonts/poiret-one-v16-latin-regular.ttf') format(
                'truetype'
            ); // Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+
}

// gayathri-regular - latin
@font-face {
    font-display: swap;
    font-family: 'Gayathri';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/gayathri-v18-latin-regular.woff2') format('woff2'),
        // Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+
        url('/fonts/gayathri-v18-latin-regular.ttf') format(
                'truetype'
            ); // Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+
}

// noto-sans-regular
@font-face {
    font-display: swap;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/noto-sans-v39-latin-regular.woff2') format('woff2'),
        // Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+
        url('/fonts/noto-sans-v39-latin-regular.ttf') format(
                'truetype'
            ); // Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+
}
// noto-sans-100 - latin
@font-face {
    font-display: swap;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 100;
    src: url('/fonts/noto-sans-v39-latin-100.woff2') format('woff2'),
        // Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+
        url('/fonts/noto-sans-v39-latin-100.ttf')
            format(
                // Chrome
                'truetype'
            ); // Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+
}
// noto-sans-600
@font-face {
    font-display: swap;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/noto-sans-v39-latin-600.woff2') format('woff2'),
        // Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+
        url('/fonts/noto-sans-v39-latin-600.ttf') format(
                'truetype'
            ); // Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+
}
