<footer class="footer">
    <div>
        Hierbei handelt es sich um eine Demo-Website.
    </div>
    <nav class="footer-nav">
        <ul class="footer-nav__links">
            <li class="footer-nav__item">
                <a class="footer-nav__link" href="/datenschutz">Datenschutz</a>
            </li>
            <li class="footer-nav__item">
                <a class="footer-nav__link" href="/impressum">Impressum</a>
            </li>
        </ul>
    </nav>
</footer>