<header class="header">

    <div class="header-logo">
        <a href="/">
            <img src="/favicon.png" alt="logo" class="logo">
            Essential Yoga
        </a>
    </div>

    <div class="header-nav-container">
        <div class="menu-icon">
            <div> <!-- necessary to align menu icon to the right -->
                <div class="menu-icon-bar1"></div>
                <div class="menu-icon-bar2"></div>
                <div class="menu-icon-bar3"></div>   
            </div>
        </div>

        <nav class="header-nav">
            <ul class="header-nav__links">
                <li class="header-nav__item">
                    <a class="header-nav__link" href="#section-1">Mehr erfahren</a>
                </li>
                <li class="header-nav__item">
                    <a class="header-nav__link" href="#section-2">Angebote</a>
                </li>
                <li class="header-nav__item">
                    <a class="header-nav__link" href="#section-3">Rezensionen</a>
                </li>
                <li class="header-nav__item">
                    <a class="header-nav__link" href="#section-4">Kontakt</a>
                </li>
            </ul>
        </nav>
    </div>
</header>